.ins-c-dashboard__number-description {
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;

    > * {
        text-align: left;
    }

    .pf-c-button.pf-m-link {
        font-size: var(--pf-global--FontSize--sm);
        padding-left: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: var(--pf-global--FontSize--sm);
        text-align: left;
    }

    &.pf-m-horizontal {
        flex-direction: row;
        align-items: baseline;

        svg {
            margin-right: var(--pf-global--spacer--sm);
        }

        .pf-c-button.pf-m-link {
            padding: 0;
            margin-left: var(--pf-global--spacer--sm);
        }
    }
}

