language: node_js
sudo: required
notifications:
  email: false
node_js:
- '16'
install:
  - npm ci
jobs:
  include:
    - stage: Lint
      script: npm run lint
    - stage: Test
      script: npm run test && npm run test:ct && npm run coverage
    - stage: Deploy
      script: npm run travis:build && curl -sSL https://raw.githubusercontent.com/RedHatInsights/insights-frontend-builder-common/master/src/bootstrap.sh | bash -s
env:
  global:
  - REPO="git@github.com:RedHatInsights/insights-dashboard-build"
  - REPO_DIR="insights-dashboard-build"
  - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  - NODE_OPTIONS="--max-old-space-size=4096 --max_old_space_size=4096"
cache:
  directories:
    - "$HOME/.npm"
