// Subscriptions Utilized
.insd-c-subscriptions-utilized__app-link {
  padding-left: 0;
}

.insd-c-subscriptions-utilized__chart-link {
  padding-left: 0;
  padding-right: 0;

  .pf-v5-c-progress {
    color: inherit;
  }
}

.insd-c-subscriptions-utilized__empty-state {
  &.pf-v5-c-empty-state {
    padding: 0;
    text-align: left;
  }

  .pf-v5-c-empty-state__secondary {
    justify-content: inherit;
    margin-top: var(--pf-v5-global--spacer--md);
    text-align: left;
  }
}

