.insd-c-dashboard {
    &__icon {
        &-finished { fill: var(--pf-t--global--icon--color--status--success--default); }
        &-running { fill: var(--pf-t--global--icon--color--status--custom--default); }
        &-warning { fill: var(--pf-t--global--icon--color--status--warning--default); }
        &-critical { fill: var(--pf-t--global--icon--color--status--danger--default); }
        &-info { fill: var(--pf-t--global--icon--color--status--info--default); }
    }
}
