// Pie chart overrides in the Patch card
.ins-c-patch__chart {

    .pf-c-chart {
        margin-right: var(--pf-global--spacer--md);
        top: var(--pf-global--spacer--sm);
    }
}

.insd-c-pie-chart__legend .pf-c-chart {
    top: var(--pf-global--spacer--sm);
    left: var(--pf-global--spacer--md);
}
