@import "~@patternfly/patternfly/sass-utilities/_all";
@import "~@patternfly/patternfly/utilities/Text/text.scss";
@import "~@patternfly/patternfly/utilities/Display/display.scss";

.insd-c-dashboard-data-list {
  &.ins-c-toggle-right {
    .pf-c-data-list__item-control {
      --pf-c-data-list__item-control--MarginRight: 0;
    }
  }

  .pf-c-data-list__toggle {
    display: flex;

    > .pf-c-button {
      align-self: center;
    }
  }
}

.insd-c-dashboard__list-item.pf-m-expanded {
  .insd-c-title-toggle {
    visibility: hidden;
    display: none;
  }
}
