@import "~@patternfly/patternfly/sass-utilities";

.insd-c-dashboard-data-list {
  &.ins-c-toggle-right {
    .pf-v6-c-data-list__item-control {
      --pf-v6-c-data-list__item-control--MarginRight: 0;
    }
  }

  .pf-v6-c-data-list__toggle {
    display: flex;

    > .pf-v6-c-button {
      align-self: center;
    }
  }
}

.insd-c-dashboard__list-item.pf-m-expanded {
  .insd-c-title-toggle {
    visibility: hidden;
    display: none;
  }
}
