@import "~@patternfly/patternfly/sass-utilities/_all.scss";
@import "~@patternfly/patternfly/utilities/Text/text.scss";
@import "~@patternfly/patternfly/utilities/Display/display.scss";

.ins-c-dashboard-data-list {
  &.ins-c-toggle-right {
    .pf-c-data-list__item-control {
      --pf-c-data-list__item-control--MarginRight: 0;
    }
  }

  .pf-c-data-list__toggle {
    display: flex;

    > .pf-c-button {
      align-self: center;
    }
  }
}

.ins-c-dashboard__list-item {
  --ins-c-title-toggle--Display: block;

  &.pf-m-expanded {
    --ins-c-title-toggle--Display: none;
  }

  .ins-c-title-toggle {
    display: var(--ins-c-title-toggle--Display);
  }
}

.ins-c-new-rules-severities {
  margin-right: var(--pf-global--spacer--md);
}