// Custom policies
.ins-c-custom-policies__icon-group >*:not(:last-child) {
  margin-right: var(--pf-global--spacer--md);
}

.ins-c-custom-policies__card-body {
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

// Compliance
.ins-c-compliance__policy-link {
  white-space: pre-wrap;
  text-align: left;
}

.ins-c-compliance__row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ins-c-compliance__row:not(:first-child),
.ins-c-compliance__row:only-of-type {
  padding-top: var(--pf-global--spacer--md);
}

.ins-c-compliance__row-item:first-child {
  width: 75px;
  margin-right: var(--pf-global--spacer--lg);
}

.ins-c-compliance__row-item:last-child {
  max-width: 200px;

  > .pf-l-stack .pf-l-stack__item .pf-l-split .pf-l-split__item {
    font-size: 14px;
  }
}

// Dashboard
.ins-l-dashboard {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .dashboard-card-group {
    display: grid;
    grid-row: 1;

    > *:not(:last-child) {
      border-bottom: 1px solid var(--pf-global--BorderColor--100);
    }

    .dashboard-card-system-inventory {
      grid-column: 1;
    }
  
    .dashboard-card-entitlements {
      grid-column: 1;
      grid-row: 2;
    }
  
    .dashboard-card-operating-systems {
      grid-column: 1;
      grid-row: 3;
    }
    
    > * > .pf-c-card {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-top: 0px;
      }
    }

    > *:first-child {
      .pf-c-card::before {
        border-top: 3px solid var(--pf-global--primary-color--100);
      }
    }
  }

  .dashboard-card-rules {
    grid-column: 1;
    grid-row: 2;
  }

  .dashboard-card-vulnerabilities {
    grid-column: 1;
    grid-row: 3;
  }

  .dashboard-card-custom-policies {
    grid-column: 1;
    grid-row: 5;
  }

  .dashboard-card-compliance-remediations {
    grid-column: 1;
    grid-row: 4;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;

    .dashboard-card-group {
      grid-column: 1 / span 3;
      grid-row: 1;
      column-gap: 24px;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);

      > *:not(:last-child) {
        border-bottom: initial;
      }

      .dashboard-card-system-inventory {
        grid-column: 1 / span 1;
        grid-row: 1;
      }
  
      .dashboard-card-entitlements {
        grid-column: 2 / span 1;
        grid-row: 1;
      }
  
      .dashboard-card-operating-systems {
        grid-column: 3 / span 1;
        grid-row: 1;
      }

      > * > .pf-c-card {
      &::before {
        border-top: 3px solid var(--pf-global--primary-color--100);
      }
    }

    }

    .dashboard-card-rules {
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    .dashboard-card-vulnerabilities {
      grid-column: 1 / span 2;
      grid-row: 3;
    }

    .dashboard-card-custom-policies {
      grid-column: 1 / span 2;
      grid-row: 4;
    }

    .dashboard-card-compliance-remediations {
      display: flex;
      flex-direction: column;
      grid-column: 3;
      grid-row: 2 / span 3;

      .pf-c-card {
        flex-grow: 1;
      }
    }

    div:not(.dashboard-card-compliance-remediations) > .pf-c-card {
      height: 100%;
    }
  }
}

.pf-c-page__main-section {
  &:first-child {
    @media screen and (min-width: 576px) {
      padding-bottom: 0px;
    }
  }

  &:last-child {
    @media screen and (max-width: 576px) {
      padding: 0px;
    }
  }
}

.ins-c-remediations-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.ins-c-remediation-status {
  display: flex;
  flex-direction: row;
  padding-top: 2px;
  padding-right: 16px;
  width: 100px;

  > p {
      margin-left: var(--pf-global--spacer--sm);
      font-size: var(--pf-global--FontSize--sm);
  }
}

.ins-c-custom-policies__table {
  thead tr th:first-child,
  tbody tr th:first-child {
    padding-left: 0;
  }

  thead tr th:last-child,
  tbody tr td:last-child {
    padding-right: 0;
  }
}
