@import "~@patternfly/patternfly/sass-utilities/_all";
@import "~@patternfly/patternfly/utilities/Text/text";
@import "~@patternfly/patternfly/utilities/Display/display";
@import "~@patternfly/patternfly/utilities/Accessibility/accessibility";
@import "~@patternfly/patternfly/utilities/Spacing/spacing";

// All buttons should be text-align left and font-size 14px
.pf-c-button.pf-m-link {
  text-align: left;
  font-size: 14px;
}

.insd-c-dashboard-data-list__pie-chart {
  > .pf-c-chart > svg {
    max-width: #{pf-size-prem(80px)};

    @media screen and (min-width: $pf-global--breakpoint--md) {
      max-width: #{pf-size-prem(80px)};
    }
  }
}

.insd-c-dashboard__card {
  .pf-c-chart {
    @media screen and (min-width: $pf-global--breakpoint--lg) {
      width: 80px;
      height: 80px;
    }
  }
}

.insd-c-dashboard__card-chart-container {
  --insd-c-dashboard__card-chart-container--item--spacer: var(--pf-global--spacer--lg);
  --insd-c-dashboard__card-chart-container--item--FlexDirection: column;

  @media screen and (min-width: $pf-global--breakpoint--sm) {
    --insd-c-dashboard__card-chart-container--item--FlexDirection: row;
  }

  display: flex;
  align-items: center;
  flex-direction: var(--insd-c-dashboard__card-chart-container--item--FlexDirection);
  row-gap: var(--insd-c-dashboard__card-chart-container--item--spacer);

  > * {
    @media screen and (min-width: $pf-global--breakpoint--sm) {
      margin-right: var(--insd-c-dashboard__card-chart-container--item--spacer);
      margin-bottom: 0;
    }

    &:last-child {
      --insd-c-dashboard__card-chart-container--item--spacer: 0;
    }
  }
}

.insd-c-dashboard__card-pie-chart {
  flex-shrink: 1;
  min-width: 50px;
  max-width: 100px;
}

.insd-c-dashboard__card-pie-chart-legend {
  display: flex;
  flex: 1;
  align-self: stretch;
  justify-content: center;

  @media screen and (min-width: $pf-global--breakpoint--sm) {
    align-self: center;
    justify-content: flex-start;
  }

  > .pf-c-table {
    width: Min(32ch, 100%);
  }
}

.ins-l-masonry {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: calc(var(--pf-global--spacer--lg) * -1); /* gutter size offset */
  margin-bottom: calc(var(--pf-global--spacer--lg) * -1); /* gutter size offset */
  width: auto;
}

.pf-c-card {
  --pf-c-card--child--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-card--child--PaddingLeft: var(--pf-global--spacer--xl);
}

.ins-l-masonry_column {
  padding-left: var(--pf-global--spacer--lg); /* gutter size */
  background-clip: padding-box;
  .pf-c-card {
    margin-bottom: var(--pf-global--spacer--lg);

    .pf-c-card {
      margin-bottom: 0;
    }
  }
}

.pf-c-drawer__content {
  > div {
    display: contents;
  }
}

.pf-c-page__sidebar {
  display: none;
}

.insd-c-dashboard-card-parent {
  > *:last-child,
  .pf-c-card__expandable-content,
  .pf-c-card__expandable-content .pf-c-card__body {
    flex: 1;
  }

  .pf-c-card__expandable-content {
    display: flex;
    flex-direction: column;
  }
}

.pf-c-page__main-section {
  --pf-c-page--section--m-limit-width--MaxWidth: 1920px;
}

.pf-l-grid {
  --pf-l-grid--m-gutter--GridGap: var(--pf-global--spacer--lg);
}
