@import "~@patternfly/patternfly/sass-utilities/_all";
@import "~@patternfly/patternfly/utilities/Text/text.scss";
@import "~@patternfly/patternfly/utilities/Display/display.scss";
@import "~@patternfly/patternfly/utilities/Accessibility/accessibility.scss";
@import "~@patternfly/patternfly/utilities/Spacing/spacing.scss";

// All buttons should be text-align left and font-size 14px
.pf-c-button.pf-m-link {
  text-align: left;
  font-size: 14px;
}

.ins-c-dashboard-data-list__pie-chart {

  > .pf-c-chart > svg {
    max-width: #{pf-size-prem(80px)};

    @media screen and (min-width: $pf-global--breakpoint--md) {
      max-width: #{pf-size-prem(80px)};
    }
  }
}

.ins-c-dashboard-card__pie-chart {
  width: 180px;
}

.ins-l-masonry {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: calc(var(--pf-global--spacer--lg) * -1); /* gutter size offset */
  margin-bottom: calc(var(--pf-global--spacer--lg) * -1); /* gutter size offset */
  width: auto;
}

.ins-l-masonry_column {
  padding-left: var(--pf-global--spacer--lg); /* gutter size */
  background-clip: padding-box;
  .pf-c-card {
    margin-bottom: var(--pf-global--spacer--lg);

    .pf-c-card {
      margin-bottom: 0;
    }
  }
}

.pf-c-drawer__content {
  > div {
    display: contents;
  }
}

.pf-c-page__sidebar {
  display: none;
}

.ins-c-dashboard-card-parent {
  > *:last-child,
  .pf-c-card__expandable-content,
  .pf-c-card__expandable-content .pf-c-card__body {
    flex: 1;
  }
}

.ins-c-dashboard-card-parent {
  .pf-c-card__expandable-content {
    display: flex;
    flex-direction: column;
  }
}

.dashboard .pf-c-card {
  // max-width: #{pf-size-prem(550px)};
}

.ins-c-compound-card {

}

.pf-c-page__main-section {
  --pf-c-page--section--m-limit-width--MaxWidth: 1400px;

}

.pf-l-grid {
  --pf-l-grid--m-gutter--GridGap: var(--pf-global--spacer--lg);
}

.pf-c-card {
  --pf-c-card--child--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-card--child--PaddingLeft: var(--pf-global--spacer--xl);
}
