.insight-dashboard__number-data--xl {
    font-size: 48px;
    line-height: 48px;
}

.insight-dashboard__number-data--lg {
    font-size: 30px;
    line-height: 30px;
}

.insight-dashboard__number-data--md {
    font-size: 20px;
    line-height: 20px;
}