.ins-c-dashboard__number-data--xl {
    font-size: calc(var(--pf-global--FontSize--2xl) * 2);
    line-height: 40px;
}

.ins-c-dashboard__number-data--lg {
    font-size: 30px;
    line-height: 30px;
}

.ins-c-dashboard__number-data--md {
    font-size: var(--pf-global--FontSize--lg);
    line-height: var(--pf-global--FontSize--lg);
}

.ins-c-dashboard__number-data--xl,
.ins-c-dashboard__number-data--lg,
.ins-c-dashboard__number-data--md {
    font-family: var(--pf-global--FontFamily--redhatfont--heading--sans-serif);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ins-c-dashboard__number-data--number-percentage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.ins-c-dashboard__number-percentage {
    margin-left: var(--pf-global--spacer--sm);
    font-size: var(--pf-global--FontSize--sm);

    > :first-child {
        margin-right: var(--pf-global--spacer--sm);
    }
}