.pf-v5-c-button.pf-m-link {
    font-size: var(--pf-v5-global--FontSize--sm);
}


.insd-c-dashboard__info-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    p {
        font-size: var(--pf-v5-global--FontSize--sm);
        margin-left: var(--pf-v5-global--spacer--sm);
        color: var(--pf-v5-global--primary-color--100);
    }
    
    &.insd-m-padding-top  {
        padding-top: var(--pf-v5-global--spacer--xs);
    }
    
    .pf-v5-c-button__icon {
        color: var(--pf-v5-global--Color--100);
    }
}
