.pf-c-button.pf-m-link {
    font-size: var(--pf-global--FontSize--sm);
}

.pf-c-button__icon {
    color: var(--pf-global--Color--100);
}

.insd-c-dashboard__info-inline {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        font-size: var(--pf-global--FontSize--sm);
        margin-left: var(--pf-global--spacer--sm);
        color: var(--pf-global--primary-color--100);
    }

    &.insd-m-padding-top  {
        padding-top: var(--pf-global--spacer--xs);
    }
}
