@import "~@patternfly/patternfly/sass-utilities/_all.scss";

$ins-c-marketing-banner--breakpoint-map: build-breakpoint-map();

.pf-v5-c-page__main-section {
  &.pf-m-dark-1000 {
      --pf-v5-c-page__main-section--BackgroundColor: var(--pf-v5-global--palette--black-1000);
  }
}

.insd-c-marketing-page {
  --ins-m-marketing-page--RowGap: var(--pf-v5-global--spacer--xl);
  --ins-m-marketing-page--ColumnGap: var(--pf-v5-global--spacer--xl);
  --ins-m-marketing-page--section--PaddingTop: var(--pf-v5-global--spacer--xl);
  --ins-m-marketing-page--section--PaddingRight: var(--pf-v5-global--spacer--2xl);
  --ins-m-marketing-page--section--PaddingBottom: var(--pf-v5-global--spacer--xl);
  --ins-m-marketing-page--section--PaddingLeft: var(--pf-v5-global--spacer--2xl);

  .insd-l-autofit {
    --insd-l-autofit--m-gutter--RowGap: var(--ins-m-marketing-page--RowGap);
    --insd-l-autofit--m-gutter--ColumnGap: var(--ins-m-marketing-page--ColumnGap);
  }

  .pf-v5-c-page__main-section {
    --pf-v5-c-page__main-section--PaddingTop: var(--ins-m-marketing-page--section--PaddingTop);
    --pf-v5-c-page__main-section--PaddingRight: var(--ins-m-marketing-page--section--PaddingRight);
    --pf-v5-c-page__main-section--PaddingBottom: var(--ins-m-marketing-page--section--PaddingBottom);
    --pf-v5-c-page__main-section--PaddingLeft: var(--ins-m-marketing-page--section--PaddingLeft);
  }

  .ins-c-marketing-banner {
    --ins-c-marketing-banner--PaddingTop: var(--pf-v5-global--spacer--2xl);
    --ins-c-marketing-banner--PaddingBottom: var(--pf-v5-global--spacer--2xl);
  }

  .pf-v5-l-grid {
    --pf-v5-l-grid--m-gutter--GridGap: var(--pf-v5-global--spacer--xl);
  }

}

.warning{
  .insd-c-icon-list {
    --insd-c-icon-list--item--before--Content--url: "../../images/icon__plus-solid_warning.svg";
    li {
      &::before {
        content: url(../../images/icon__plus-solid_warning.svg);
        }
      }
    }
}

.footer {
  padding-top: 0;

  a{
    text-decoration: none;
    color: #151515;
  }
}

.bannerRight {
  height:100%;
  justify-content: space-evenly;
  padding: 1.5rem;
}
.bannerBefore{
  max-height: 300px;
  min-height: fit-content;
}