@import "~@patternfly/patternfly/sass-utilities";

$ins-c-marketing-banner--breakpoint-map: build-breakpoint-map();

.pf-v6-c-page__main-section {
  &.pf-m-dark-1000 {
      --pf-v6-c-page__main-section--BackgroundColor: var(--pf-t--color--black);
  }
}

.insd-c-marketing-page {
  --ins-m-marketing-page--RowGap: var(--pf-t--global--spacer--xl);
  --ins-m-marketing-page--ColumnGap: var(--pf-t--global--spacer--xl);
  --ins-m-marketing-page--section--PaddingTop: var(--pf-t--global--spacer--xl);
  --ins-m-marketing-page--section--PaddingRight: var(--pf-t--global--spacer--2xl);
  --ins-m-marketing-page--section--PaddingBottom: var(--pf-t--global--spacer--xl);
  --ins-m-marketing-page--section--PaddingLeft: var(--pf-t--global--spacer--2xl);

  .insd-l-autofit {
    --insd-l-autofit--m-gutter--RowGap: var(--ins-m-marketing-page--RowGap);
    --insd-l-autofit--m-gutter--ColumnGap: var(--ins-m-marketing-page--ColumnGap);
  }

  .pf-v6-c-page__main-section:not(.insd-m-dark-1000) {
    padding-top: var(--ins-m-marketing-page--section--PaddingTop);
    padding-right: var(--ins-m-marketing-page--section--PaddingRight);
    padding-bottom: var(--ins-m-marketing-page--section--PaddingBottom);
    padding-left: var(--ins-m-marketing-page--section--PaddingLeft);
  }

  .pf-v6-l-grid {
    --pf-v6-l-grid--m-gutter--GridGap: var(--pf-t--global--spacer--xl);
  }

}

.warning{
  .insd-c-icon-list {
    --insd-c-icon-list--item--before--Content--url: "../../images/icon__plus-solid_warning.svg";
    li {
      &::before {
        content: url(../../images/icon__plus-solid_warning.svg);
        }
      }
    }
}

.footer {
  padding-top: 0;

  a{
    text-decoration: none;
    color: #151515;
  }
}

.bannerRight {
  height:100%;
  justify-content: space-evenly;
  padding: 1.5rem;
}
.bannerBefore{
  max-height: 300px;
  min-height: fit-content;
}