.ins-c-pie-chart .pf-c-chart {
    margin-top: 10px;
}

.ins-c-pie-chart__small .pf-c-chart {
    top: -10px;
}

.ins-c-pie-chart__row {
    display: flex;
    flex-direction: row;
}

.ins-c-pie-chart__legend {
    padding-top: 12px;
    padding-left: 15px;
}