.insd-c-pie-chart__row {
    display: flex;
    flex-direction: row;
}

.visually-hidden {
    position: absolute !important;
    top: -40px;
    font-size: 10px;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}