.dashboard-card-system-inventory {
    .ins-c-info-icon {
        padding: 0;
        cursor: default;
    }
}
.dashboard-card-system-inventory-body:not(.dashboard-m-no-access) {
    max-width: 400px;
}
