.insd-dashboard-card-system-inventory {
    .insd-c-info-icon {
        padding: 0;
        cursor: default;
    }
    &-body:not(.dashboard-m-no-access) {
        max-width: 400px;
      .pf-c-empty-state__body > div {
        max-width: 300px;
        margin: auto;
      }
    }
    @media screen and (max-width: 768px) {
        max-width: 200px;
    }
}
