@import '~@red-hat-insights/insights-frontend-components/Utilities/_variables';
@import '~@red-hat-insights/insights-frontend-components/Utilities/_mixins';
@import '~@patternfly/patternfly-next/sass-utilities/all';
@import '~@patternfly/patternfly-next/utilities/Alignment/styles.scss';
@import '~@patternfly/patternfly-next/utilities/Flex/styles.scss';

// open an issue for this
.pf-u-sr-only {
    // position: fixed;
}

// Dashboard
.ins-l-dashboard {
    --ins-l-dashboard--Min--sm: #{pf-size-prem(320px)};
    --ins-l-dashboard--Min--md: #{pf-size-prem(376px)};
    --ins-l-dashboard--Min--xl: #{pf-size-prem(420px)};

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--ins-l-dashboard--Min--sm), auto));

    @media screen and (min-width: $pf-global--breakpoint--md) {
      grid-template-columns: repeat(auto-fit, minmax(var(--ins-l-dashboard--Min--md), auto));
    }

    @media screen and (min-width: $pf-global--breakpoint--xl) {
      grid-template-columns: repeat(auto-fit, minmax(var(--ins-l-dashboard--Min--xl), auto));
    }
}

// .page__dashboard.pf-l-page__main .pf-l-page__main-section:not(:first-child) {
//   background: var(--pf-global--BackgroundColor--dark-transparent-100);
// }