.stackChartLegend {
    left: -9px;
    position: relative;
}

.ins-c-stack-chart {
    height: 40px;
    width: 525px;
    margin: 10px 0 10px 0;
}

.visually-hidden {
    position: absolute !important;
    top: -40px;
    font-size: 10px;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
