@import '~@red-hat-insights/insights-frontend-components/Utilities/_mixins';
@import '@patternfly/patternfly-next/sass-utilities/colors.scss';
@import '~@patternfly/patternfly-next/sass-utilities/scss-variables.scss';

.pf-l-page__main .pf-c-card { min-height: 100%; }

.ins-c-summary {
    &__accent { color: $pf-color-black-500; }

    &__emphasis { @include rem("font-size", 32px); }

    &__icon {
        &-critical { fill: $pf-color-red-100; }
        &-error { fill: $pf-color-orange-300; }
        &-warn { fill: $pf-color-gold-300; }
        &-info { fill: $pf-color-blue-300; }

        &-flag { fill: $pf-color-blue-500; }
        &-check { fill: $pf-color-green-300; }
    }

    &__title { @include rem("margin-bottom", 10px); }

    .ins-c-summary__icon + .ins-c-summary__emphasis {
        @include rem("margin-left", 10px);
        @include rem("margin-right", 10px);
    }

    .ins-m-green { color: $pf-color-green-400; }

    .ins-m-red { color: $pf-color-red-100; }
}

// ==================================================================
// Gauge
// ==================================================================

.ins-c-gauge {
    svg {
        margin-top: -43px;
        margin-left: -3px;
    }

    &__metrics-percentage {
        margin-top: 10px;
    }
}
