@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";
@import "~@patternfly/patternfly/sass-utilities/_all";
@import "~@patternfly/patternfly/utilities/Alignment/alignment.css";

$insd-l-autofit--breakpoint-map: build-breakpoint-map();
$insd-c-width-limiter--breakpoint-map: build-breakpoint-map();

#root.pf-v5-c-page__main.dashboard {
    height: auto;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

.ins-c-sidebar + .pf-v5-c-page__drawer .pf-v5-c-drawer__content {
    > div {
        display: contents;
    }
}

.ins-c-drawer-control {
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 1000;
}

// ins-c-metrics ins-m-split insd-m-no-border-on-md
.ins-c-metrics {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        border-top: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
        border-bottom: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
    }
}

.ins-c-metrics__metric {
    display: inline-grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: var(--pf-v5-global--spacer--sm);
    padding: var(--pf-v5-global--spacer--md) var(--pf-v5-global--spacer--sm);

    > svg {
        font-size: var(--pf-v5-global--icon--FontSize--md);
    }
}

.ins-c-metrics__metric-number {
    font-size: var(--pf-v5-global--icon--FontSize--md);
}

.ins-c-metrics__metric__label {
    color: var(--pf-v5-global--Color--200);
}

// ==================================================================
// Gauge
// ==================================================================

.ins-c-gauge {
    svg {
        margin-top: -44px;
        margin-left: -2px;
    }

    &__metrics-percentage {
        margin-top: 10px;
        text-align: center;
    }
}

// Empty states
.page__dashboard .pf-v5-c-empty-state__body {
    font-size: var(--pf-v5-global--FontSize--sm);
}

// ==================================================================
// Colors
// ==================================================================

.ins-m-green {
    color: var(--pf-v5-global--palette--green-400);
}

.ins-m-red {
    color: var(--pf-v5-global--palette--red-100);
}

.pf-v5-c-page__main-section {
    &.pf-m-dark-1000 {
        --pf-v5-c-page__main-section--BackgroundColor: var(--pf-v5-global--palette--black-1000);
    }
}

.ins-c-text--black-400 {
    color: var(--pf-v5-global--palette--black-400);
}

// width limiter
.insd-c-width-limiter {
    --insd-c-width-limiter--MaxWidth: auto;
    --insd-c-width-limiter--MinWidth: 0;

    @include pf-build-css-variable-stack(
        "max-width",
        "--insd-c-width-limiter--MaxWidth",
        $insd-c-width-limiter--breakpoint-map
    );
    @include pf-build-css-variable-stack(
        "min-width",
        "--insd-c-width-limiter--MinWidth",
        $insd-c-width-limiter--breakpoint-map
    );
}

// data-list
.pf-v5-c-data-list {
    --ins-c-data-list__item-row--MinHeight: auto;

    &.insd-m-toggle-right-on-md {
        @media screen and (min-width: $pf-v5-global--breakpoint--md) {
            .pf-v5-c-data-list__item-control {
                order: 1;
                margin-right: calc(var(--pf-v5-global--spacer--sm) * -1);
            }
        }
    }

    .pf-v5-c-data-list__cell {
        &.pf-m-display-flex {
            display: flex;
        }

        // stylelint-disable no-descending-specificity
        & + .pf-v5-c-data-list__cell.pf-m-flex-none,
        &.pf-m-flex-none {
            flex: none;
        }
        // stylelint-enable
    }

    &.insd-m-no-border {
        .pf-v5-c-data-list__item::before {
            content: none;
        }

        .pf-v5-c-data-list__expandable-content {
            border-top: none;
        }
    }

    &.insd-m-no-padding {
        --pf-v5-c-data-list__item-row--PaddingRight: 0;
        --pf-v5-c-data-list__item-row--PaddingLeft: 0;
    }

    &.insd-m-no-top-border {
        --pf-v5-c-data-list--BorderTopWidth: 0;
        --pf-v5-c-data-list--BorderTopColor: transparent;
    }

    &.insd-m-no-bottom-border {
        --pf-v5-c-data-list__item--BorderBottomWidth: 0;
        --pf-v5-c-data-list__item--BorderBottomColor: transparent;
    }
}

// card
.pf-v5-c-card {
    > .pf-v5-c-card {
        --pf-v5-c-card--BoxShadow: none;
    }

    &.insd-m-toggle-right-on-md {
        @media screen and (min-width: $pf-v5-global--breakpoint--md) {
            .pf-v5-c-card__title {
                flex: 1;
            }

            .pf-v5-c-card__header-toggle {
                order: 5;
                margin-right: calc(var(--pf-v5-global--spacer--sm) * -1);
                margin-left: 0;
                padding-left: var(--pf-v5-c-card__header-toggle--MarginRight);
            }
        }
    }
}

// table
.pf-v5-c-table {
    &.ins-m-no-left-padding {
        padding-right: var(--pf-v5-c-table--cell--PaddingLeft);
        padding-left: 0;
    }

    &.insd-m-no-styling {
        tr:not(.pf-v5-c-table__expandable-row) {
            border-bottom: none;
        }

        // stylelint-disable no-descending-specificity
        tr > * {
            --pf-v5-c-table--cell--PaddingTop: 0;
            --pf-v5-c-table--cell--PaddingRight: var(--pf-v5-global--spacer--sm);
            --pf-v5-c-table--cell--PaddingBottom: 0;
            --pf-v5-c-table--cell--PaddingLeft: var(--pf-v5-global--spacer--sm);
        }

        tr > :first-child {
            --pf-v5-c-table--cell--PaddingLeft: 0;
        }

        tr > :last-child {
            --pf-v5-c-table--cell--PaddingRight: 0;
        }
        // stylelint-enable
    }
}

.insd-c-legend {
  display: grid;
  column-gap: var(--pf-v5-global--spacer--md);
  &.insd-m-2-col {
    grid-template-columns: max-content 1fr;
  }
  &__item {
    display: flex;
    flex-wrap: nowrap;
  }
  &__text {
    white-space: nowrap;
  }
  &__dot {
    --insd-c-legend__dot--BackgroundColor: #000;
    display: flex;
    align-items: center;
    margin-right: var(--pf-v5-global--spacer--sm);
    &::before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--insd-c-legend__dot--BackgroundColor);
    }
    // stylelint-disable no-descending-specificity
    > * {
        margin-left: var(--pf-v5-global--spacer--sm);
    }
    // stylelint-enable
  }
}

.pf-v5-c-form-control {
    &.pf-m-plain {
        border: none;
    }
}

// ==================================================================
// Layouts
// ==================================================================

// columns
.insd-l-columns {
    --insd-l-columns--MarginBottom: var(--pf-v5-global--spacer--md);
    --insd-l-columns--Gap: var(--pf-v5-global--gutter);

    gap: var(--insd-l-columns--Gap);
    column-fill: balance;

    @media screen and (min-width: $pf-v5-global--breakpoint--md) {
        columns: 2;
    }

    &.insd-m-3-col-on-xl {
        @media screen and (min-width: $pf-v5-global--breakpoint--xl) {
            columns: 3;
        }
    }

    // stylelint-disable no-descending-specificity
    > * {
        margin-bottom: var(--insd-l-columns--MarginBottom);
        break-inside: avoid;
    }
    // stylelint-enable
}

// autofit
.insd-l-autofit {
    --insd-l-autofit--m-gutter--ColumnGap: var(--pf-v5-global--gutter--md);
    --insd-l-autofit--m-gutter--RowGap: var(--pf-v5-global--gutter--md);
    --insd-l-autofit--GridTemplateColumns--min: 250px;
    --insd-l-autofit--GridTemplateColumns--minmax--min: var(--insd-l-autofit--GridTemplateColumns--min);
    --insd-l-autofit--GridTemplateColumns: repeat(
        auto-fit,
        minmax(var(--insd-l-autofit--GridTemplateColumns--minmax--min), 1fr)
    );
    --insd-l-autofit--GridTemplateRows: auto;

    display: grid;
    grid-template-columns: var(--insd-l-autofit--GridTemplateColumns);
    grid-template-rows: var(--insd-l-autofit--GridTemplateRows);

    &.pf-m-gutter {
        row-gap: var(--insd-l-autofit--m-gutter--RowGap);
        column-gap: var(--insd-l-autofit--m-gutter--ColumnGap);
    }

    @include pf-build-css-variable-stack(
        "--insd-l-autofit--GridTemplateColumns--minmax--min",
        "--insd-l-autofit--GridTemplateColumns--min",
        $insd-l-autofit--breakpoint-map
    );
}

.pf-v5-l-grid {
    &.pf-m-full-height {
        > .pf-v5-c-card {
            align-self: stretch;
        }
    }
}

#root.pf-v5-c-page__main {
    height: auto;
}

.pf-v5-c-button.pf-m-control{
background-color: white;
color:#000
}
