@import '~@patternfly/patternfly-next/sass-utilities/_all';

// Gauge
.ins-c-gauge {

  // Affect
  --ins-c-guage__metrics-change--m-negative:          var(--pf-global--danger-color--100);
  --ins-c-guage__metrics-change--m-positive:          var(--pf-global--success-color--100);

  // Percentage
  --ins-c-gauge__metrics-percentage:                  var(--pf-global--FontSize--4xl);

  // Change items
  --ins-c-gauge__metrics-change-items--MarginRight:   var(--pf-global--spacer--sm);

  // Timeframe
  --ins-c-gauge__metrics-change-timeframe--Color:     var(--pf-global--Color--dark-200);

  display: grid;
}

// Metrics
.ins-c-gauge__metrics {
  grid-area: 1 / 1;
  align-self: center;
  justify-self: center;
}

// Percentage
.ins-c-gauge__metrics-percentage {
  font-size: var(--ins-c-gauge__metrics-percentage);
}

// Change
.ins-c-gauge__metrics-change {

  > *:not(:last-child) {
    margin-right: var(--ins-c-gauge__metrics-change-items--MarginRight);
  }

  &.pf-m-negative {
    color: var(--ins-c-guage__metrics-change--m-negative);
  }

  &.pf-m-positive {
    color: var(--ins-c-guage__metrics-change--m-positive);
  }
}

.ins-c-gauge__metrics-change-timeframe {
  color: var(--ins-c-gauge__metrics-change-timeframe--Color);
}

// Donut
.ins-c-gauge__donut {
  grid-area: 1 / 1;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.ins-c-gauge__legend {
  // Legend items
  // --ins-c-gauge__legend-items--MarginTop:             var(--pf-global--spacer--lg);

  // > *:not(:first-child) {
  //   margin-top: var(--ins-c-gauge__legend-items--MarginTop);
  // }

  dl {
    display: grid;
    grid-template-columns: repeat(2, max-content);
  }
}