@import "~@patternfly/patternfly/sass-utilities/_all.scss";

.ins-c-dashboard-data-list {
    --pf-c-data-list__item-control--not-last-child--MarginRight: var(--pf-global--spacer--xs);
    --pf-c-data-list__item-control--PaddingTop: calc(var(--pf-global--spacer--md) + var(--pf-global--spacer--xs));
    --pf-c-data-list__item-control--PaddingBottom: 0;
    --pf-c-data-list__item-control--MarginRight: var(--pf-global--spacer--sm);
    --pf-c-data-list__item-control--MarginLeft: calc(var(--pf-global--spacer--sm) * -1);
    --pf-c-data-list__item-row--PaddingRight: var(--pf-global--spacer--lg);
    --pf-c-data-list__item-row--PaddingLeft: var(--pf-global--spacer--lg);
    --pf-c-data-list__expandable-content-body--PaddingRight: var(--pf-global--spacer--lg);
    --pf-c-data-list__expandable-content-body--PaddingLeft: var(--pf-global--spacer--lg);
    --pf-c-data-list__expandable-content-body--PaddingTop: 0;

    @media screen and (min-width: $pf-global--breakpoint--md) {
        --pf-c-data-list__item-control--MarginLeft: var(--pf-global--spacer--md);
        --pf-c-data-list__toggle--MarginLeft: var(--pf-global--spacer--sm);
        --pf-c-data-list__item-control--MarginLeft: var(--pf-global--spacer--xs);
        --pf-c-data-list__item-control--PaddingTop: calc(var(--pf-global--spacer--sm) + var(--pf-global--spacer--sm) + var(--pf-global--spacer--xs));
        --pf-c-data-list__item-control--MarginRight: calc(var(--pf-global--spacer--md) * -1);
        --pf-c-data-list__expandable-content-body--PaddingTop: var(--pf-global--spacer--sm);
    }

    .pf-c-data-list__item-control {
        margin-left: var(--pf-c-data-list__item-control--MarginLeft);
        align-items: baseline;

        > .pf-c-button {
            margin-top: var(--pf-c-data-list__toggle--MarginTop);
        }
    }

    .pf-c-data-list__item-control-button {
        display: none;

        @media screen and (min-width: $pf-global--breakpoint--md) {
            display: inline-block;
        }
    }

    .pf-c-data-list__toggle {
        height: 48px;

        > .pf-c-button {
            display: flex;
        }

    }

    .pf-c-data-list__toggle-text {
        display: none;
        position: relative;
        margin-right: var(--pf-global--spacer--md);

        @media screen and (min-width: $pf-global--breakpoint--md) {
            display: inline-flex;
            min-width: 6ch;
        }

        > * {
            position: absolute;
            transition: var(--pf-global--transition);
        }
    }

    // .pf-c-data-list__toggle-expanded-text {
    //     opacity: 0;

    //     .pf-c-data-list__toggle-text.pf-m-expanded & {
    //         opacity: 1;
    //     }
    // }

    // .pf-c-data-list__toggle-collapsed-text {
    //     opacity: 1;

    //     .pf-c-data-list__toggle-text.pf-m-expanded & {
    //         opacity: 0;
    //     }
    // }

    .pf-c-data-list__expandable-content-body {
        @media screen and (min-width: $pf-global--breakpoint--md) {

            padding-top: var(--pf-global--spacer--sm);

            .pf-c-data-list__item-row {
                min-height: var(--ins-c-data-list__item-row--MinHeight);
            }
        }
    }

}

.ins-c-dashboard__list-item {
    --pf-c-data-list__item-content--md--PaddingBottom: var(--pf-global--spacer--lg);

    &.pf-m-expanded {
        --pf-c-data-list__item-content--md--PaddingBottom: var(--pf-global--spacer--sm);
    }
}
