@use "~@patternfly/patternfly/sass-utilities/scss-variables.scss";

.insd-c-dashboard-data-list {
    --pf-v6-c-data-list__item-control--not-last-child--MarginRight: var(--pf-t--global--spacer--xs);
    --pf-v6-c-data-list__item-control--PaddingTop: calc(var(--pf-t--global--spacer--sm));
    --pf-v6-c-data-list__item-control--PaddingBottom: 0;
    --pf-v6-c-data-list__item-control--MarginRight: var(--pf-t--global--spacer--sm);
    --pf-v6-c-data-list__item-control--MarginLeft: calc(var(--pf-t--global--spacer--sm) * -1);
    --pf-v6-c-data-list__item-row--PaddingRight: var(--pf-t--global--spacer--xl);
    --pf-v6-c-data-list__item-row--PaddingLeft: var(--pf-t--global--spacer--xl);
    --pf-v6-c-data-list__expandable-content-body--PaddingRight: var(--pf-t--global--spacer--xl);
    --pf-v6-c-data-list__expandable-content-body--PaddingLeft: var(--pf-t--global--spacer--xl);
    --pf-v6-c-data-list__expandable-content-body--PaddingTop: 0;
    --insd-c-dashboard-data-list__date--MarginTop: 0;
    --insd-c-dashboard-data-list__item--m-expanded__date--MarginTop: var(--pf-t--global--spacer--md);

    @media screen and (min-width: scss-variables.$pf-v6-global--breakpoint--md) {
        --pf-v6-c-data-list__item-control--MarginLeft: var(--pf-t--global--spacer--md);
        --pf-v6-c-data-list__toggle--MarginLeft: var(--pf-t--global--spacer--sm);
        --pf-v6-c-data-list__item-control--PaddingTop: calc(var(--pf-t--global--spacer--sm) + var(--pf-t--global--spacer--xs));
        --pf-v6-c-data-list__item-control--MarginRight: calc(var(--pf-t--global--spacer--md) * -1);
        --pf-v6-c-data-list__expandable-content-body--PaddingTop: var(--pf-t--global--spacer--sm);
    }

    .pf-v6-c-data-list__item {
        &.pf-m-expanded {

            @media screen and (min-width: scss-variables.$pf-v6-global--breakpoint--md) {
                --insd-c-dashboard-data-list__date--MarginTop: var(--insd-c-dashboard-data-list__item--m-expanded__date--MarginTop);
            }
        }
    }

    .pf-v6-c-data-list__item-control {
        margin-left: var(--pf-v6-c-data-list__item-control--MarginLeft);
        align-items: baseline;

        > .pf-v6-c-button {
            margin-top: var(--pf-v6-c-data-list__toggle--MarginTop);
        }
    }

    .pf-v6-c-data-list__item-control-button {
        display: none;

        @media screen and (min-width: scss-variables.$pf-v6-global--breakpoint--md) {
            display: inline-block;
        }
    }

    .pf-v6-c-data-list__toggle {
        height: 48px;

        > .pf-v6-c-button {
            display: flex;
        }
    }

    .pf-v6-c-data-list__toggle-text {
        display: none;
        position: relative;
        margin-right: var(--pf-t--global--spacer--sm);

        @media screen and (min-width: scss-variables.$pf-v6-global--breakpoint--md) {
            display: inline-flex;
            min-width: 6ch;
            text-align: right;
            white-space: nowrap;
        }

        > * {
            position: absolute;
            transition: var(--pf-v6-global--transition);
        }
    }

    .pf-v6-c-data-list__expandable-content-body {
        @media screen and (min-width: scss-variables.$pf-v6-global--breakpoint--md) {

            --pf-v6-c-data-list__expandable-content-body--PaddingTop: var(--pf-t--global--spacer--sm);

            .pf-v6-c-data-list__item-row {
                --pf-v6-c-data-list__expandable-content-body--PaddingTop: 0;

                min-height: var(--ins-c-data-list__item-row--MinHeight);
            }
        }
    }
}

.insd-c-dashboard-data-list__title-row {
    --pf-v6-c-data-list__item-control--PaddingTop: var(--pf-t--global--spacer--sm);
    --pf-v6-c-data-list__item-control--PaddingBottom: var(--pf-t--global--spacer--sm);
    --pf-v6-c-data-list--m-compact__cell--PaddingTop: var(--pf-t--global--spacer--md);
    --pf-v6-c-data-list--m-compact__cell--PaddingBottom: var(--pf-t--global--spacer--md);
    --pf-v6-c-data-list__item-control--MarginLeft: 0;
    --pf-v6-c-data-list__item-control--MarginRight: calc(var(--pf-t--global--spacer--md) * -1);
    --pf-v6-c-data-list__toggle--MarginLeft: 0;


    --pf-v6-c-data-list__item-content--md--PaddingBottom: 0;
}

.insd-c-dashboard-data-list__controller-row-cell {
    .insd-c-new-rules-severities {
        margin: var(--pf-t--global--spacer--sm);
        margin-left: 0;

        @media screen and (min-width: scss-variables.$pf-v6-global--breakpoint--md) {
            float: right;
            margin-left: var(--pf-t--global--spacer--sm);
        }
    }
}

.insd-c-dashboard-data-list__date {
    display: inline-block;
    margin-top: var(--insd-c-dashboard-data-list__date--MarginTop);
}
