.insd-c-dashboard__card--header-subtitle {
    font-size: var(--pf-global--FontSize--sm);
}

.insd-c-dashboard__card--header.insd-m-padding-small {
    padding-bottom: 6px;
}

.insd-c-dashboard__card--body {
    display: flex;
    flex-direction: column;

    &.insd-m-horizontal {
        flex-direction: row;
        padding-top: var(--pf-global--spacer--lg);
        align-items: flex-end;
    }

    > .insd-c-dashboard__number-description {
        &:not(:first-child) {
            padding-left: var(--pf-global--spacer--md);
        }
    }

    .pf-c-progress + .pf-c-progress {
        padding-top: var(--pf-global--spacer--md);
    }

    > .pf-c-progress + .pf-c-progress {
        margin-top: var(--pf-global--spacer--xs);
    }
}

.pf-c-card.insd-m-short-header .insd-c-dashboard__card--header {
    --pf-c-card__title--not--last-child--PaddingBottom: 6px;
}

.pf-c-card__body .pf-c-card {
    --pf-c-card--child--PaddingRight: calc(var(--pf-c-card--child--PaddingRight) * -1);
    --pf-c-card--child--PaddingLeft: calc(var(--pf-c-card--child--PaddingLeft) * -1);
    --pf-c-card--BoxShadow: none;
}
