@import "~@patternfly/patternfly/sass-utilities/_all.scss";

$ins-c-marketing-banner--breakpoint-map: build-breakpoint-map();

.insd-c-marketing-banner {
  --ins-c-marketing-banner--before--Opacity: 0.3;
  --ins-c-marketing-banner--before--BackgroundSize: #{pf-size-prem(200px)};

  --ins-c-marketing-banner--PaddingTop: var(--pf-c-page__main-section--PaddingTop, var(--pf-global--spacer--2xl));
  --ins-c-marketing-banner--PaddingRight: var(--pf-c-page__main-section--PaddingRight, var(--pf-global--spacer--md));
  --ins-c-marketing-banner--PaddingBottom: var(--pf-c-page__main-section--PaddingBottom, var(--pf-global--spacer--2xl));
  --ins-c-marketing-banner--PaddingLeft: var(--pf-c-page__main-section--PaddingLeft, var(--pf-global--spacer--md));

  --ins-c-marketing-banner--before--content--width: 2fr;
  --ins-c-marketing-banner--before--graphic--width: 1fr;

  --ins-c-marketing-banner--m-with-graphic--GridTemplateAreas: "graphic content";
  --ins-c-marketing-banner--m-with-graphic--GridTemplateColumns: var(--ins-c-marketing-banner--before--graphic--width)
    var(--ins-c-marketing-banner--before--content--width);

  --ins-c-marketing-banner--m-graphic-right--GridTemplateAreas: "content graphic";
  --ins-c-marketing-banner--m-graphic-right--GridTemplateColumns: var(--ins-c-marketing-banner--before--content--width)
    var(--ins-c-marketing-banner--before--graphic--width);

  @media screen and (min-width: $pf-global--breakpoint--lg) {
    --ins-c-marketing-banner--before--Opacity: 0.65;
  }

  @media screen and (min-width: $pf-global--breakpoint--2xl) {
    --ins-c-marketing-banner--before--Opacity: 1;
  }

  @include pf-build-css-variable-stack(
    "--ins-c-marketing-banner--before--graphic--width",
    "--ins-c-marketing-banner--graphic--width",
    $ins-c-marketing-banner--breakpoint-map
  );

  &.insd-m-with-graphic {
    &:not(.pf-m-limit-width),
    .pf-c-page__main-body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "content";
      grid-gap: var(--ins-m-marketing-page--ColumnGap);
      padding-top: var(--ins-c-marketing-banner--PaddingTop);
      padding-bottom: var(--ins-c-marketing-banner--PaddingBottom);

      @media screen and (min-width: $pf-global--breakpoint--md) {
        grid-template-areas: var(--ins-c-marketing-banner--m-with-graphic--GridTemplateAreas);
        grid-template-columns: var(--ins-c-marketing-banner--m-with-graphic--GridTemplateColumns);
      }

      // ensure all content appears above
      > * {
        position: relative;
        grid-area: content;
      }

      &::before {
        content: "";
        grid-area: content;
        margin-top: var(--ins-c-marketing-banner--before--Offset--top);
        margin-right: var(--ins-c-marketing-banner--before--Offset--right);
        margin-bottom: var(--ins-c-marketing-banner--before--Offset--bottom);
        margin-left: var(--ins-c-marketing-banner--before--Offset--left);
        background-image: url("../../images/img__zero-state-header.svg");
        background-size: var(--ins-c-marketing-banner--before--BackgroundSize);
        background-position-x: 20px;
        background-position-y: -8px;
        opacity: var(--ins-c-marketing-banner--before--Opacity);

        @media screen and (min-width: $pf-global--breakpoint--md) {
          grid-area: graphic;
        }
      }
    }
  }

  &.insd-m-full-bleed {
    --ins-c-marketing-banner--before--Offset--top: calc(var(--ins-c-marketing-banner--PaddingTop) * -1);
    --ins-c-marketing-banner--before--Offset--bottom: calc(var(--ins-c-marketing-banner--PaddingBottom) * -1);
    --ins-c-marketing-banner--before--Offset--left: calc(var(--ins-c-marketing-banner--PaddingLeft) * -1);
  }

  &.insd-m-graphic-right {
    --ins-c-marketing-banner--before--Offset--right: calc(var(--ins-c-marketing-banner--PaddingRight) * -1);
    --ins-c-marketing-banner--before--Offset--left: 0;

    @media screen and (min-width: $pf-global--breakpoint--md) {
      --ins-c-marketing-banner--m-with-graphic--GridTemplateAreas: var(
        --ins-c-marketing-banner--m-graphic-right--GridTemplateAreas
      );
      --ins-c-marketing-banner--m-with-graphic--GridTemplateColumns: var(
        --ins-c-marketing-banner--m-graphic-right--GridTemplateColumns
      );
    }
  }

  &[class*="pf-m-dark-"].pf-c-page__main-section {
    .pf-c-button.pf-m-primary {
      color: var(--pf-global--primary-color-100);
      background-color: #{$pf-color-blue-400};

      &:hover,
      &:focus,
      &:active {
        color: var(--pf-global--primary-color-100);
        background-color: #{$pf-color-blue-500};
      }
    }

    .pf-c-button.pf-m-secondary,
    .pf-c-button.pf-m-tertiary {
      &::after {
        border: 0;
      }
    }
  }
}
