.insd-c-remediations-container {
    display: flex;
    flex-direction: row;
  
    &:not(:last-child) {
        padding-bottom: var(--pf-global--spacer--md);
    }
}
  
.insd-c-remediation__status {
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    padding-right: 16px;
    min-width: 110px;

    > p {
        margin-left: var(--pf-global--spacer--sm);
        font-size: var(--pf-global--FontSize--sm);
    }
}
