.insd-c-remediation__status-icon--passed {
    color: var(--pf-t--global--color--status--success--default);
}
.insd-c-remediation__status-icon--failed {
    color: var(--pf-t--global--color--status--danger--default);
}
.insd-c-remediation__status-icon--running {
    color: var(--pf-t--global--color--status--custom--default	);
}
.insd-c-remediation__status-text {
    text-transform: capitalize;
}

.insd-c-remediation__timestamp {
    text-overflow: ellipsis;
    overflow: hidden;
}
