.insd-c-remediation__status-icon--passed {
    color: var(--pf-global--success-color--200);
}
.insd-c-remediation__status-icon--failed {
    color: var(--pf-global--danger-color--100);
}
.insd-c-remediation__status-icon--running {
    color: var(--pf-global--default-color--300);
}
.insd-c-remediation__status-text {
    text-transform: capitalize;
}

.insd-c-remediation__timestamp {
    text-overflow: ellipsis;
    overflow: hidden;
}
